<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>


<a href="/addtask">添加点赞任务</a>
<h1 align="center">任务列表</h1>
<table class="table" border="2">
    <thead>
        <tr>
            <th>网址</th>
            <th>剩余点赞次数</th>
            <th>创建时间</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="task : ${tasks}" >
            <td ><a href="index.html" th:href="${task.url}">查看</a></td>
            <td th:text="${task.cnt}" align="right">100</td>
            <td th:text="${task.gmtCreate}">2016-10-29 08:12:21</td>
        </tr>
    </tbody>
</table>

</body>
</html>